@import url('./styles/header.css');
@import url('./styles/form.css');
@import url('./styles/menu.css');

* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  box-sizing: border-box;
}

main {
  width: 95%;
  margin: 0 auto;
}

:root {
  --primary-color: #fc4445;
  --secondary-color: #9e3a3a;
  --hover-color: #b15d5d;
}

.enable {
  display: block;
}

.disable {
  display: none;
}
