.create-container {
  width: 30%;
  margin: 0 auto;
  padding: 2rem;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
}

.error-msg {
  color: var(--primary-color);
  font-size: 0.8rem;
  font-weight: 900;
}

.create-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.create-form input,
select {
  margin: 0.2rem 0;
  padding: 0.5rem 0.3rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(226, 226, 226);
}

#add-topping {
  margin: 0 auto;
  color: snow;
  width: 200px;
  padding: 0.5rem 1rem;
  background-color: var(--hover-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#add-topping:hover {
  transform: scale(1.05);
}

#submit-btn {
  margin: 0 auto;
  color: snow;
  width: 400px;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#submit-btn:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.toppings-list {
  font-size: 0.8rem;
}
